@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  background: #212121;
  font-family: "Roboto", sans-serif;
}

button {
  padding: 0;
  border-radius: 999px;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

li {
  list-style: none;
  cursor: pointer;
  font-size: clamp(1.2rem, 1vw, 1.6rem);
  color: #468eaa;
}

li.blue {
  color: #468eaa;
}

li.red {
  color: #aa4646;
}

li.white {
  color: #c4bcb2;
}

li.green {
  color: #46aa64;
}

li.black {
  color: #905ac2;
}

li.displayNone {
  display: none;
}

li:hover {
  color: yellow;
}

li:hover::before {
  border: solid gold 3px;
  border-radius: 1.55rem;
  content: var(--image, url("../images/cardback.jpeg"));
  background-color: black;
  position: absolute;
  z-index: 999;
  right: -0.5rem;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-box-shadow: 2px 5px 25px black;
          box-shadow: 2px 5px 25px black;
  color: white;
  line-height: 0;
  pointer-events: none;
}

#cubeText {
  position: absolute;
  top: -1000rem;
  left: -1000rem;
}

#copyClipboard {
  padding: 1rem 2rem;
  background-color: white;
}

#displayStyleList,
#displayStyleCard {
  color: gold;
}

.card--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  cursor: pointer;
}

.card--wrap .card {
  width: 100%;
  height: 250px;
  min-width: 160px;
  margin: 0;
  border-radius: 1rem;
  border: solid #0c0c0c;
}

.site-grid {
  min-height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "s m";
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 1fr 7fr;
      grid-template-columns: 1fr 7fr;
}

.side-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: s;
}

.main-content {
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 2rem 15rem 2rem;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: m;
}

.side-bar-content--wrap {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}

.color-filter--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 0;
  padding: 1rem;
  max-width: 15rem;
}

.color-filter--wrap button {
  margin: 0.25rem;
  color: lightblue;
}

.color-filter--wrap button:focus {
  color: lightgreen;
}

.color-filter--wrap button img {
  border: solid rgba(0, 0, 0, 0) 2px;
  border-radius: 999px;
}

.color-filter--wrap button img.-active {
  border-radius: 999px;
  border: solid white 2px;
}

.radio-buttons--container {
  padding: 1rem;
}

.radio-buttons--container .radio--wrap {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.radio-buttons--container .radio--wrap input[type="radio"] {
  margin-left: 1rem;
}

.radio-buttons--container .radio--wrap label {
  cursor: pointer;
}

.cards--container {
  width: 100%;
  max-width: 1350px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

@media only screen and (max-width: 1400px) {
  .cards--container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
}

.cards--container header {
  color: white;
  font-weight: 700;
  width: 100%;
  text-align: center;
  background: #252525;
  margin-bottom: 0.5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 0.5rem 0.5rem 0 0;
}

.column {
  border-radius: 1rem;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 1rem 1rem 25rem 1rem;
  background: #1b1b1b;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: 2.8rem;
  justify-items: center;
}

@media only screen and (max-width: 1400px) {
  .column {
    grid-auto-rows: 2.5rem;
  }
}

.column > .card--wrap {
  position: relative;
  grid-column: 1/-2;
  top: 0;
  left: 0;
  margin: 0;
}

.column > .card--wrap > .card:hover {
  border: solid gold 2px;
}

.column > .card--wrap.displayNone {
  display: none;
}

.column > .card--wrap:hover::before {
  border: solid gold 3px;
  border-radius: 1.55rem;
  content: var(--image, url("../images/cardback.jpeg"));
  background-color: black;
  position: absolute;
  z-index: 999;
  right: -0.5rem;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-box-shadow: 2px 5px 25px black;
          box-shadow: 2px 5px 25px black;
  color: white;
  line-height: 0;
  pointer-events: none;
}

@media only screen and (max-width: 1400px) {
  .column > .card--wrap .card {
    width: 165px;
    height: 230px;
  }
}

.cmc-five .card--wrap:hover::before,
.cmc-six .card--wrap:hover::before {
  left: -0.5rem;
  right: unset;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media only screen and (max-width: 1400px) {
  .cmc-three .card--wrap:hover::before,
  .cmc-two .card--wrap:hover::before {
    left: -0.5rem;
    right: unset;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
/*# sourceMappingURL=main.css.map */