.site-grid {
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "s m";
    grid-template-rows: auto;
    grid-template-columns: 1fr 7fr;
}

.side-bar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    // background: red;
    grid-area: s;
}

.main-content {
    min-height: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 2rem 15rem 2rem;
    // background: lightblue;
    grid-area: m;
}
