.side-bar-content--wrap {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 1rem;
}

.color-filter--wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    padding: 1rem;
    max-width: 15rem;

    button {
        margin: 0.25rem;
        color: lightblue;
        &:focus {
            color: lightgreen;
        }

        img {
            border: solid rgba(0, 0, 0, 0) 2px;
            border-radius: 999px;
            &.-active {
                border-radius: 999px;
                border: solid white 2px;
            }
        }
    }
}

.radio-buttons--container {
    padding: 1rem;
    .radio--wrap {
        color: white;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        input[type="radio"] {
            margin-left: 1rem;
        }

        label {
            cursor: pointer;
        }
    }
}
