// cards--container > column > cards--wrap > card

.cards--container {
    width: 100%;
    max-width: 1350px;
    display: grid;
    // grid-template-areas: "1 2 3 4 5 6";
    grid-template-rows: auto;
    // grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;

    @media only screen and (max-width: 1400px) {
        // grid-template-areas:
        //     "1 2 3"
        //     "4 5 6";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
    }

    header {
        color: white;
        font-weight: 700;
        width: 100%;
        text-align: center;
        background: rgb(37, 37, 37);
        margin-bottom: 0.5rem;
        display: grid;
        place-items: center;
        border-radius: 0.5rem 0.5rem 0 0;
    }
}
