html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    min-height: 100%;
    width: 100%;
    font-size: 1.6rem;
    background: lightsalmon;
}

.card {
    height: 265px;
    width: 190px;
    border-radius: 0.5rem;
    background-image: url("../cardback.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1rem;
    margin-top: 1rem;
    transition: transform 0.25s;

    // &:hover {
    //     outline: solid gold 2px;
    //     z-index: 999;
    // }

    &.displayNone {
        display: none;
    }
}

#cubeText {
    // visibility: hidden;
    position: absolute;
    top: -1000rem;
    left: -1000rem;
}

#copyClipboard {
    padding: 1rem 2rem;
    background-color: white;
}
