html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    width: 100%;
    font-size: 1.6rem;
    background: lightsalmon;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.card {
    height: 265px;
    width: 190px;
    // background-color: lightseagreen;
    background-image: url("../cardback.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1rem;
    margin-top: 1rem;
    transition: transform 0.25s;

    // &:hover {
    //     transform: scale(125%);
    //     box-shadow: 2px 5px 15px rgba(17, 17, 17, 0.822);
    // }

    &.displayNone {
        display: none;
    }
}

#cubeText {
    // visibility: hidden;
    position: absolute;
    top: -1000rem;
    left: -1000rem;
}

#copyClipboard {
    padding: 1rem 2rem;
    background-color: white;
}
